html,
body{
    height: 100% ;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

.gradient{
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 22%, rgba(255,255,255,1) 50%, rgba(29,0,255,1) 79%);
}

.page-header{
    margin-top: 5rem;
    font-size: 1.25rem;
    color: black;
}
.feature{
    color: black;
}
.feature ul{
    padding: left 2rem;
    list-style-type:square ;
}
.feature ul li{
    padding-left: 2rem;
    background-image:url(../img/check.svg) ;
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem ;
}
.icon{
    color: black;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    background-color: whitesmoke;
}
.gallery img{
    border-radius: 5%;
}
.services{
    color: black;
}
.footer{
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}
a{
    color: black;
    text-decoration: none;
}